In [14]:
# Object oriented programming
#create generic class - student and create instance of the class- objects to call with its attributes and behavior and action.
class student:
#__init__ 2 underscores on each side else the class will not be called with arguments
   def __init__(st,name,rollno,year): # defining a class for student with reference to object using st. It has 3 attributes - name, rollno, year
      st.name=name
      st.rollno=rollno
      st.year=year
   def displaymsg(st): #passing the reference to the object using st to capture the behavior
    return st.name

#declare an instance of that class student e.g. Rahul is student 1.
student1= student("Rahul",1234,2006)
print(student1.displaymsg())

Rahul

In [7]:
#this a new class and object e.g. to find the stock of car fleet
class cars:     #this is defining a class CARS - GENERIC class with reference to object using cr. attributes are cost/number/location
  def __init__(cr,brand,cost,number,location):   #__INIT__ is used to tell that this class will accept attributes
    cr.brand=brand
    cr.cost=cost
    cr.number=number
    cr.location=location
  def displaystatus(cr):
    return (cr.location) #'car is of count' cr.number "at location" cr.location)

#instance of the class - object
cars_bmw= cars('BMW',10000,40,'HYD')
cars_honda= cars('Honda',40000,10,'BLR')

print(cars_bmw.displaystatus())
cars_bmw.location="Jamshedpur"
print(cars_bmw.displaystatus())
print(cars_honda.location)

HYD
Jamshedpur
BLR

In [8]:
#trying how to read a csv file using pandas
import pandas as pd
df=pd.read_csv('/content/sample_data/mnist_test.csv')
print(df)

      7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0     2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1     1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2     0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3     4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4     1  0    0    0    0    0    0    0    0    0  ...      0      0      0
...  .. ..  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...    ...
9994  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
9995  3  0    0    0    0    0    0    0    0    0  ...      0      0      0
9996  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
9997  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
9998  6  0    0    0    0    0    0    0    0    0  ...      0      0      0

      0.661  0.662  0.663  0.664  0.665  0.666  0.667
0         0      0      0      0      0      0      0
1         0      0      0      0      0      0      0
2         0      0      0      0      0      0      0
3         0      0      0      0      0      0      0
4         0      0      0      0      0      0      0
...     ...    ...    ...    ...    ...    ...    ...
9994      0      0      0      0      0      0      0
9995      0      0      0      0      0      0      0
9996      0      0      0      0      0      0      0
9997      0      0      0      0      0      0      0
9998      0      0      0      0      0      0      0

[9999 rows x 785 columns]